
body { 
    background-color: rgb(204, 204, 204);
}

p.text-size {
    font-size: 200pt;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}
#articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
}
#notes {
    float: right;
    width: 30%;
}
textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}
input {
    height: 36px;
    font-size: 24px;
}
textarea {
    height: 200px;
    font-size: 18px;
}

div.wrapper.articles, div.wrapper.notes {
    background-color: white;
    padding: 20px;
    margin: 20px;

}

.article-display {
    background-color: #82cedf;
    margin: 5px;
}

h4#article-title, span#article-link {
    line-height: 1.0;
    background-color: white;
}